.navbar-custom {
    color: #fafaff;
    background-color: #3493e0;
}

    .list-group-button-right {
        position: relative;
    }
    .list-group-button-right button {
        
        position: absolute;
        top: 10px;
        right: 15px;
        height: 82px;
    }
	.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}